#logo {
    transform: rotateX(0deg);
    transition: 3.5s;
}

#logo:hover {
    transform: rotateX(360deg);
}

.navbar {
    background-image: linear-gradient(to right, #000000, #060304, #0a060a, #0c090f, #0c0d14, #0d1118, #0d141b, #0c171e, #0c1a23, #0b1d28, #09212e, #062433);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(227, 46, 46) !important;
    text-decoration: underline;
}

.lupa i {
    color: white;
}

.jumbotron {
    background-color: #ceecef;
    display: flex;
    justify-content: center;
    font-family: "Prompt", sans-serif;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
}

.jumbotron h1 a {
    color: black;
    text-shadow: 0 0 5px rgb(232, 139, 17), 0 0 5px rgb(232, 139, 17);
    text-decoration: none;
}

.jumbotron a:hover {
    color: #abdecb;
    text-shadow: 0 0 5px #9c1515, 0 0 5px #9c1515;
    text-decoration: underline;
    filter: brightness(1.5);
    transition: color 0.2s, border-bottom 0.2s;
}

h2 {
    background-image: linear-gradient(to top, #091e47, #0b224e, #0c2755, #0e2b5c, #0f3063, #0a3466, #053768, #013b6b, #003e69, #004066, #024262, #0c445f);
    color: rgb(232, 139, 17);
    text-transform: uppercase;
    padding: 20px;
    margin: 0;
    text-decoration: underline;
}

h3{
    text-align: center;
}

div.card-body {
    color: black;
}

.camisetaAñadirAlCarrito {
    background-color: rgb(175, 169, 169);
    color: black;
}

.banner {
    background-image: linear-gradient(to top, #091e47, #0b224e, #0c2755, #0e2b5c, #0f3063, #0a3466, #053768, #013b6b, #003e69, #004066, #024262, #0c445f);
    color: rgb(232, 139, 17);
    text-transform: uppercase;
    padding: 20px;
    margin: 0;
    text-decoration: underline;
}

p {
    color: white;
    text-align: center;
    text-align: left;
}

.img-fluid {
    padding: 20px;
}

section {
    background-image: linear-gradient(to bottom, #091e47, #0b224e, #0c2755, #0e2b5c, #0f3063, #0a3466, #053768, #013b6b, #003e69, #004066, #024262, #0c445f);
}

#miSection {
    height: 250px;
}

.swal2-title {
    background: transparent !important;
}

/* Estilos para el contador */
.quantity-selector {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

/* Estilos para los botones de incremento/decremento */
.minus-btn,
.plus-btn {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(225, 218, 218);
}

/* Estilos para la cantidad */
.quantity {
    font-size: 18px;
    margin: 0 5px;
}

.total-container {
    /* Agrega estilos según tus preferencias */
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    /* Otros estilos que desees aplicar */
}


@media only screen and (min-width: 0) and (max-width: 576px) {
    .navbar-collapse {
    background-image: linear-gradient(to right, #000000, #060304, #0a060a, #0c090f, #0c0d14, #0d1118, #0d141b, #0c171e, #0c1a23, #0b1d28, #09212e, #062433);
    display: flex;
    justify-content: right;
    }
    .jumbotron {
    background-color: #e4ebec;
    display: flex;
    justify-content: center;
    font-family: "Prompt", sans-serif;
    }
    section {
    background-color: rgb(36, 63, 97);
    }
}